.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-image: url(../img/bgr.jpeg);
}


#name {
  color: #00CED1;
  text-shadow: 2px 2px grey;
}

#bname {
  color: white;
  text-shadow: 2px 2px black;
}

body {
  background-color: #2F4F4F;
}

.panel-info {
  border-color: black;
  background-color: #A9A9A9	;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
  height: auto;
}

img.hgs {
  width: 350px;
  height: auto;
  float: left;
  padding: 15px;
}

img.fir {
  width: 350px;
  height: auto;
  float: left;
  padding: 18px;
}

img.ptb {
  width: 375px;
  height: auto;
  float: left;
  padding: 18px;
}

.edex {
  text-align: center;
  list-style-type: none;
}
